.container {
  display: flex;
  border-radius: 8px;
  transition: 300ms background-color;
  gap: var(--px8);
}

.input {
  flex: 1;
  padding: var(--px4) var(--px8);
  transition: 300ms border-color;
  border-bottom: 2px solid var(--neutral-light);
  cursor: text;
}
.input:is(:hover, :focus) {
  border-color: var(--neutral-darkgray);
}

.button {
  padding-inline: var(--px8);
  line-height: 0px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: 300ms background-color;
}
.button:disabled {
  background-color: var(--neutral-lightgray);
  box-shadow: none;
  cursor: not-allowed;
}
.button:not(:disabled):hover {
  background-color: var(--neutral-black);
}
.button:not(:disabled):focus {
  outline: 2px solid var(--neutral-darkgray);
  outline-offset: 2px;
}

.button svg {
  width: var(--px24);
  height: var(--px24);
  color: var(--neutral-white);
}

