.container {
  width: min(600px, 100%);
  margin: auto;
  padding: var(--px16);
  border-radius: var(--px16);
  box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
}

.reportInfo {
  display: flex;
  align-items: center;
  gap: var(--px12);
  margin-bottom: var(--px28);
}

.noActivity {
  flex: 1;
  text-align: center;
  padding-block: 2.75rem; /* 44px */
  user-select: none;
}

.error {
  display: flex;
  align-items: center;
  gap: var(--px4);
  margin-bottom: var(--px16);
}

.error svg {
  color: var(--negative-feedback);
  width: var(--px16);
  height: var(--px16);
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--px16);
}

.saveButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--px16);
  justify-self: end;
  padding: var(--px4) var(--px12);
  border-radius: 4px;
  box-shadow: 0 0 var(--px4) rgb(0 0 0 / 25%);
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms background-color;

  @media (max-width: 600px) {
    justify-self: stretch;
  }
}
.saveButton:disabled {
  background-color: var(--neutral-light);
  color: var(--neutral-lightgray);
  box-shadow: none;
  cursor: not-allowed;
}
.saveButton:not(:disabled):hover {
  background-color: var(--neutral-black);
}
.saveButton:not(:disabled):focus {
  outline: 2px solid var(--neutral-darkgray);
  outline-offset: 2px;
}

.saveButton svg {
  width: var(--px24);
  height: var(--px24);
  color: var(--neutral-light);
}
.saveButton:disabled svg {
  color: var(--neutral-lightgray);
}

