.container::backdrop {
  height: 100vh;
  background-color: rgb(0 0 0 / 10%);
  backdrop-filter: blur(2px);
  opacity: 0;
  animation: fade 400ms forwards;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

