.container {
  padding-left: var(--px4);
  width: 3.75rem; /* 60px */
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--px4);
  margin-bottom: var(--px4);
}

.clockIcon {
  height: var(--px24);
  color: var(--standby);
  transition: 500ms color;
}
.clockIcon.activity {
  color: var(--activity);
}

.alert {
  width: var(--px20);
  height: var(--px20);
  translate: 0 2px;
  color: var(--negative-feedback);
}

.container p {
  text-align: center;
}
