.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 500px) {
    flex-direction: row;
    gap: var(--px8);
    grid-column: 1/-1;
  }
}

.container p {
  width: var(--px64);
  text-align: center;

  @media (max-width: 500px) {
    width: initial;
    
    &:nth-child(2)::before {
      content: "-";
      font-weight: 500;
      margin-right: 8px;
    }
  }
}
