.button {
  width: 100%;
  min-height: 6.25rem;
  display: flex;
  align-items: center;
  gap: var(--px12);
  padding: var(--px16);
  border-radius: 16px;
  corner-shape: squircle;
  box-shadow:
    0 0 var(--px4) rgb(0 0 0 / 10%),
    0 0 var(--px12) rgb(0 0 0 / 5%);
  outline: 2px solid transparent;
  opacity: 0;
  outline-offset: var(--px8);
  cursor: pointer;
  transition: outline-color 400ms;
  position: relative;
  animation: fromLeft 500ms forwards;
  -webkit-tap-highlight-color: transparent;

  @media (max-width: 500px) {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-block: var(--px16);
  }
}
.button:focus,
.button:hover {
  outline-color: var(--standby);
}
.button.activity:focus,
.button.activity:hover {
  outline-color: var(--activity);
}

.noActivity {
  text-align: center;
  flex: 1;
}

@keyframes fromLeft {
  from {
    translate: -50px 0px;
    opacity: 0;
  }

  to {
    opacity: 1;
    translate: 0px 0px;
  }
}
