.container {
  display: flex;
  flex-direction: column;
  height: var(--px64);
  gap: var(--px16);
  background-image: url("../assets/icons/timestamp-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
