.container {
  position: relative;
}

.button {
  width: 18.75rem; /* 300px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding: var(--px24) var(--px20);
  background: var(--transition-gradient);
  background-size: 37.5rem /* 600px */ 100%;
  background-position: 0px;
  text-transform: uppercase;
  border-radius: 16px;
  corner-shape: squircle;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 500ms background-position, 300ms scale;
}

.button:hover {
  background-position: -2% 0;
  scale: 1.02;
}
.button.activity:hover {
  background-position: -98% 0;
}

.button.activity {
  background-position: -100% 0;
}

.status {
  position: absolute;
  transition: top 600ms;
  left: 50%;
  z-index: -1;
  translate: -50% 0;
}
