.container {
  padding: var(--px16);
  border-radius: 0 0 var(--px16) var(--px16);
}

.reportInfo {
  display: flex;
  gap: var(--px12);
  align-items: center;
  margin-bottom: var(--px24);
}

.controls {
  display: flex;
  gap: var(--px12);
  justify-content: end;
}

