.container {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  gap: var(--px24);
  align-items: center;
  padding: var(--px32);
  border-radius: var(--px16);
  corner-shape: squircle;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.container p {
  text-align: center;
}
