.container {
  width: min(600px, 100%);
  border-radius: var(--px16);
}

.titleBar {
  display: flex;
  justify-content: space-between;
  padding: var(--px8) var(--px16);
  border-radius: var(--px16) var(--px16) 0 0;
  align-items: center;
}

.titleBar button {
  padding: var(--px8);
  line-height: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 300ms background-color;
}
.titleBar button:hover {
  background-color: var(--neutral-darkgray);
}

