.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--px4);
  user-select: none;
}

.acessibilityClock {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
